<div class="contenedor-footer">
    <div class="container contenido">
        <div class="contacto">
            <p class="cursor-pointer" routerLink="/contacto">Contáctanos</p>
            <small>© 2022 CLM </small>  <span class="weight-100">All Right Reserved.</span> 
        </div>
        <div class="redes">
           <a target="_blank" href="https://www.linkedin.com/company/clm-digital-solutions"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           <a target="_blank" href="https://www.instagram.com/clmdigitalsolutions/?hl=es-la"> <i class="fa fa-instagram" aria-hidden="true"></i></a> 
        </div>
        <div class="editor">
            <div>
                <span>Email: </span> <a target="blank" href="mailTo:david.026697@gmail.com" class="rk-dark-color "> david.026697@gmail.com </a>
            </div>
            <p class="p-0 m-0 weight-100">Realizado por DAVID´F</p>
        </div>
    </div>
</div>
