
<div class="contenedor-home animated slideInRight">
    <img class="back-home" src="../../../assets/img/background-home.jpg" alt="">
    <div class="background-fixed"></div>
    <h1 class="titulo-principal">BIENVENIDO A CLM TECNOLOGY <p>La única empresa que te enseña las mejores promociones y últimas tecnologías en la web</p> </h1>
    <div class="btn-home contenedor-btn">
       <button type="button" (click)="verPromociones()" class="btn btn-success btn-custom">Ver Promociones</button>
    </div>
</div>

