
<div class="contenedor-home animated slideInRight">
    <div class="back-home">
        <img src="../../../assets/img/background-home.jpg" alt="">
    </div>
    <div class="intro">
        <h1 class="titulo-principal">BIENVENIDO A CLM TECNOLOGY <p>La única empresa que te enseña las mejores promociones y últimas tecnologías en la web</p> </h1>
        <div class="btn-home contenedor-btn">
           <button type="button" (click)="verPromociones()" class="btn btn-success btn-custom">Ver Promociones</button>
        </div>
    </div>
    <div class="background-fixed"></div>
</div>

