<div class="container text-center mt-5 pb-3 container-promo animated slideInDown">
    <img class="img-gitlab" src="../../../assets/img/gitlab.jpg" alt="gitlab">
    <div class="promocion-gitlab">
       <h1 class="mt-5">Aplicación basada en la web con una interfaz gráfica</h1>
        <h4 class="mt-2">¿Quieres saber más?</h4>
        <div class="contenedor-btn">
            <button class="btn btn-success btn-custom mt-2" (click)="verProducto()">Presiona aquí</button>
        </div>
    </div>
</div>
