/* You can add global styles to this file, and also import other style files */

/* Auth Form*/
.contenedor-auth {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    background-image: linear-gradient(to bottom, #041d42, #18193c, #231536, #29102f, #2d0d27);
}
.contenedor-auth.ajustMarg {
    padding-bottom: 30px;
}
.card-auth {
    position: relative;
    max-width: 400px;
    width: 96%;
    max-height: 645px;
    top: 0px;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 1px 10px 6px #00000029;
    border-radius: 8px;
    padding: 0px 0 20px;
}
.card-auth.formMax {
    max-height: 612px;
    margin-top: -70px;
}
@media (max-width: 300px) {
    .card-auth.formMax {
       margin-top: 21px;
    }
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding:  0;
}
.contenedor-form {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
    position: relative;
}
.formulario {
    width: 100%;
    text-align: center;
}
.icon-form {
    font-size: 50px;
    margin-bottom: 30px;
    color:#0C1C41;
}
.campos {
    width: 100%;
    display: block;
}
.footer-button {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.footer-button a{
   color: #019df4;
   text-decoration: none;
}
.form-input {
    display: flex;
    flex-direction: column;
}
.campos .text-danger {
    font-size: 13px;
}
.error {
    border: 1px solid #dc3545 !important;
} 
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
button[type="button"]:focus,
button[type="checkbox"]:focus,
textarea:focus,
.uneditable-input:focus {   
  border-color: 1px solid #0C1C41;
  box-shadow: none;
  outline: 0 none;
}
.form-check {
    max-width: 83%;
}
H1, h4 {
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
}
.contenedor-btn {
    max-width: 220px;
    text-align: center;
    width: 100%; 
    margin: 0 auto;
}
.btn-custom {
    max-width: 220px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 30px !important;
    color: #fff;
    background-color: #0C1C41 !important;
    border: 1px solid #fff !important;
}
.btn-custom:hover {
    border: 2px solid #fff !important;
    font-size: 18px;
}

/* Generales */
.cursor-pointer {
    cursor: pointer;
} 
.overflow {
    overflow: hidden;
}

/* Animaciones */
@keyframes opacity {
    from {
        opacity: 0;
        transition: .1s all;
    }
    to {
        opacity: 1;
        transition: .1s all;
    }
}
.slideInRight {
-webkit-animation-name: opacity;
animation-name: opacity;
}
@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
.slideInDown {
-webkit-animation-name: slideInDown;
animation-name: slideInDown;
}
.animated {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: both;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.margin-aut {
    margin-top: -2px !important;
}



